/* Header Container */
.navbar {
  background-color: #222831;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.website-name{
      margin-top: 12px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  
  display: flex;
  align-items: center; /* Aligns the text vertically with the image */
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

/* Logo Image Styling */
.logo-image {
  max-width: 50px;  
  height: auto;      
  margin-right: 8px; 
  border-radius: 8px;
}

/* Navigation Links */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* CTA Button */
.cta {
  display: flex;
}

.cta-button {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
}

.cta-button:hover {
  background-color: #ffffff;
  color: #1e1f26;
}
