<header class="navbar">
  <div class="container">
    <div class="logo">
        <img routerLink="/" src="assets/dashboard/logo.jpg" alt="Interview Preparation" class="logo-image">
        <p routerLink="/"  class="website-name">InterviewPrepHub</p>
    </div>
    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      <a routerLink="/user-steps" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
      <a href="#">Services</a>
      <a  routerLink="/login"  routerLinkActive="active" ariaCurrentWhenActive="page" >Login/Signup</a>
    </nav>
    <div class="cta">
      <a routerLink="/contact"  routerLinkActive="active" ariaCurrentWhenActive="page" class="contact-btn" class="cta-button">Get in Touch</a>
    </div>
  </div>
</header>

