<div class="main">
    <div class="container">
        <h1>Select Your Domain</h1>
        <p>Choose a field to explore</p>
        <div class="card-container">
            <!-- Automotive Engineering -->
            <div class="card">
                <img src="assets/mechanical/ae/AutomotiveEngineering.png" alt="Automotive Engineering" class="card-image">
                <div class="card-content">
                    <h2>Automotive Engineering</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/automotive-engineering" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Biomedical Engineering -->
            <div class="card">
                <img src="assets/mechanical/be/BiomedicalEngineering.png" alt="Biomedical Engineering" class="card-image">
                <div class="card-content">
                    <h2>Biomedical Engineering</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/biomedical-engineering" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Robotics -->
            <div class="card">
                <img src="assets/mechanical/robotics/Robotics.png" alt="Robotics" class="card-image">
                <div class="card-content">
                    <h2>Robotics</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/robotics" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Manufacturing Engineering -->
            <div class="card">
                <img src="assets/mechanical/me/ManufacturingEngineering.png" alt="Manufacturing Engineering" class="card-image">
                <div class="card-content">
                    <h2>Manufacturing Engineering</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/manufacturing-engineering" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
