
<div class="main">
    <div class="container">
        <h1>Select Your Domain</h1>
        <p>Choose a field to explore</p>
        <div class="card-container">
            <div class="card">
                <img src="assets/domain-dashboard/ds1.png" alt="Computer Science" class="card-image">
                <div class="card-content">
                    <h2>Computer Science</h2>
                    <p>Web Development, Data-Science, Blockchain, CyberSecurity</p>
                </div>
                <div class="card-icon">
                    <a routerLink="/computer-science" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="assets/domain-dashboard/ece.png" alt="Electronics and Communication" class="card-image">
                <div class="card-content">
                    <h2>Electronics and Communication</h2>
                    <p>VLSI design, Wireless communication,Optical communication,Microelectronics</p>
                </div>
                <div class="card-icon">
                    <a routerLink="/electronics-communication" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="assets/domain-dashboard/electrical.png" alt="Electronics and Communication" class="card-image">
                <div class="card-content">
                    <h2>Electrical</h2>
                    <p>Power systems engineering, Control systems engineering, Electronics engineering, Signal processing</p>
                </div>
                <div class="card-icon">
                    <a routerLink="/electrical" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="assets/domain-dashboard/mechanical.png" alt="Electronics and Communication" class="card-image">
                <div class="card-content">
                    <h2>Mechanical</h2>
                    <p>Automotive engineering, Biomedical engineering, Robotics, Manufacturing engineering</p>
                </div>
                <div class="card-icon">
                    <a routerLink="/mechanical" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card">
                <img src="assets/domain-dashboard/civil.png" alt="Electronics and Communication" class="card-image">
                <div class="card-content">
                    <h2>Civil</h2>
                    <p>Structural engineering, Transportation engineering, Water resources engineering, Geotechnical engineering</p>
                </div>
                <div class="card-icon">
                    <a routerLink="/civil" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="go-back-container">
    <button (click)="goBack()" class="go-back-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
        <span>Go Back</span>
    </button>
    </div>
</div>

