<div class="main">
    <div class="container">
        <h1>Select Your Domain</h1>
        <p>Choose a field to explore</p>
        <div class="card-container">
            <!-- Structural Engineering -->
            <div class="card">
                <img src="assets/civil/se/StructuralEngineering.png" alt="Structural Engineering" class="card-image">
                <div class="card-content">
                    <h2>Structural Engineering</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/structural-engineering" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Transportation Engineering -->
            <div class="card">
                <img src="assets/civil/te/TransportationEngineering.png" alt="Transportation Engineering" class="card-image">
                <div class="card-content">
                    <h2>Transportation Engineering</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/transportation-engineering" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Water Resources Engineering -->
            <div class="card">
                <img src="assets/civil/wre/WaterResourcesEngineering.png" alt="Water Resources Engineering" class="card-image">
                <div class="card-content">
                    <h2>Water Resources Engineering</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/water-resources-engineering" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Geotechnical Engineering -->
            <div class="card">
                <img src="assets/civil/ge/GeotechnicalEngineering.png" alt="Geotechnical Engineering" class="card-image">
                <div class="card-content">
                    <h2>Geotechnical Engineering</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/geotechnical-engineering" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
     <div class="go-back-container">
    <button (click)="goBack()" class="go-back-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
        <span>Go Back</span>
    </button>
    </div>
    
</div>
