<div class="main">
    <div class="container">
        <h1>Select Your Domain</h1>
        <p>Choose a field to explore</p>
        <div class="card-container">
            <!-- Electrical Power Systems Engineering -->
            <div class="card">
                <img src="assets/electrical/epse/ElectricalPowerSystemsEngineering.png" alt="Electrical Power Systems Engineering" class="card-image">
                <div class="card-content">
                    <h2>Electrical Power Systems Engineering</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/power-systems" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Control Systems Engineering -->
            <div class="card">
                <img src="assets/electrical/cse/ControlSystemsEngineering.png" alt="Control Systems Engineering" class="card-image">
                <div class="card-content">
                    <h2>Control Systems Engineering</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/control-systems" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Electronics Engineering -->
            <div class="card">
                <img src="assets/electrical/ee/ElectronicsEngineering.png" alt="Electronics Engineering" class="card-image">
                <div class="card-content">
                    <h2>Electronics Engineering</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/electronics-engineering" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Signal Processing -->
            <div class="card">
                <img src="assets/electrical/sp/SignalProcessing.png" alt="Signal Processing" class="card-image">
                <div class="card-content">
                    <h2>Signal Processing</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/signal-processing" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
