<div class="main">
    <div class="container">
        <h1>Select Your Domain</h1>
        <p>Choose a field to explore</p>
        <div class="card-container">
            <!-- VLSI Design -->
            <div class="card">
                <img src="assets/ece/vlsi/vlsidesign.png" alt="VLSI Design" class="card-image">
                <div class="card-content">
                    <h2>VLSI Design</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/vlsi-design" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Wireless Communication -->
            <div class="card">
                <img src="assets/ece/wc/WirelessCommunication.png" alt="Wireless Communication" class="card-image">
                <div class="card-content">
                    <h2>Wireless Communication</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/wireless-communication" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Optical Communication -->
            <div class="card">
                <img src="assets/ece/oc/OpticalCommunication.png" alt="Optical Communication" class="card-image">
                <div class="card-content">
                    <h2>Optical Communication</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/optical-communication" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Microelectronics -->
            <div class="card">
                <img src="assets/ece/microelectronics/Microelectronics.png" alt="Microelectronics" class="card-image">
                <div class="card-content">
                    <h2>Microelectronics</h2>
                </div>
                <div class="card-icon">
                    <a routerLink="/microelectronics" routerLinkActive="active" ariaCurrentWhenActive="page" class="icon-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-up-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm3.5 4.5a.5.5 0 0 1 1 0v6a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1H11.5V5.5a.5.5 0 0 1 .5-.5zm.5 5H11v3H5v-3H2v-1h3V5h6v1h3v3z"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
