<div class="review-container">
  <h2>Company Reviews for {{ companyName }}</h2>
  <button (click)="toggleReviewForm()">Add Review</button>
  <div class="outer-conatiner">
    <div *ngFor="let review of reviews" class="review-item">
      <h3><strong>Job Profile:</strong>{{ review.job_role }}</h3>
      <p><strong>Interview Level:</strong> {{ review.interview_level }}</p>
      <p><strong>Questions Asked:</strong> {{ review.questions_asked }}</p>
      <p><strong>Company Culture:</strong> {{ review.company_culture }}</p>
      <p><strong>Company Payroll:</strong> {{ review.company_payroll }}</p>
    </div>
  </div>
  <app-pagination *ngIf="reviews.length" [currentPage]="currentPage" [totalPages]="totalPages"
    (pageChanged)="onPageChanged($event)">
  </app-pagination>
  <div class="review-overlay" (click)="toggleReviewForm()"></div>
  <div class="review-form">
    <button class="close-btn" (click)="toggleReviewForm()">✖</button>
    <h3>Add a Review</h3>
    <form (ngSubmit)="submitReview()">
      <label for="jobRole">Job Role:</label>
      <input id="jobRole" [(ngModel)]="newReview.job_role" name="jobRole" required>

      <label for="interviewLevel">Interview Level:</label>
      <input id="interviewLevel" [(ngModel)]="newReview.interview_level" name="interviewLevel">

      <label for="questionsAsked">Questions Asked:</label>
      <textarea id="questionsAsked" [(ngModel)]="newReview.questions_asked" name="questionsAsked"></textarea>

      <label for="companyCulture">Company Culture:</label>
      <textarea id="companyCulture" [(ngModel)]="newReview.company_culture" name="companyCulture"></textarea>

      <label for="companyPayroll">Company Payroll:</label>
      <input id="companyPayroll" [(ngModel)]="newReview.company_payroll" name="companyPayroll">

      <button type="submit">Submit Review</button>
    </form>
  </div>
  <div class="go-back-container">
    <button (click)="goBack()" class="go-back-btn">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
        <line x1="19" y1="12" x2="5" y2="12"></line>
        <polyline points="12 19 5 12 12 5"></polyline>
      </svg>
      <span>Go Back</span>
    </button>
  </div>
</div>
